* {
    box-sizing: border-box;
}

body {
    background: #F5F7FB;
    background-image: url(./blueblob.png), url(./yellow-blob.png);
    background-repeat: no-repeat;
    background-position: bottom left, top right;
  
}

h1{
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    text-align: center;
    color: #293264;
}

.quiz-description, .score{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    color: #293264;
    width: 100%;
    padding: 10% 0px;
}

button {
    background: #4D5B9E;
    border-radius: 15px;
    color: #F5F7FB;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    padding: 5% 10%;
}

.start-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 15%;
}

h3, .score{
    
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: px;
    color: #293264;

}

.answers{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #293264;
    border: 0.771045px solid #4D5B9E;
    border-radius: 7.71045px;
    padding: 4px 8px;
    margin-right: 20px;
    cursor: pointer;
}

.answers-container{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.quiz-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 75px;
}

.question-container{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.question-header{
    width: 100%;
}

.answer-reveal{
    background: #94D7A2;
    border-radius: 7.71045px;
    color: #293264;
    border: none;

}

.incorrect-answer-reveal{
    background: #F8BCBC;
    border-radius: 7.71045px;
    border: none;
}

button.check-answers, button.play-again{
    font-size: 24px;
    margin: 20px 0;
    padding: 20px;   
}

.score-and-reset{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}



